/* Цвет акцента #2196F3
Цвет заголовка #212121 
Цвет основного текста #757575
Белый цвет #FFFFFF
*/
:root {
  --accent-text-color: #2196f3;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --primary-wight-color: #ffffff;
  --second-bgc-color: #2f303a;
  --third-bgc-color: #f5f4fa;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-wight-color);
}

ul {
  list-style: none;
}

/* Site nav */
.logo {
  color: var(--accent-text-color);
}
.link-logo {
  color: #000000;
}
.site-nav {
  color: var(--title-text-color);
}
.site-nav:hover,
.site-nav:focus {
  color: var(--accent-text-color);
}
.site-nav.current {
  color: var(--accent-text-color);
}
/* Contacts */
.contact {
  color: var(--primary-text-color);
}
.contact:hover,
.contact:focus {
  color: var(--accent-text-color);
}
/* Шапка */
.hero {
  background-color: var(--second-bgc-color);
  color: var(--primary-wight-color);
}
.button {
  background-color: var(--accent-text-color);
  color: var(--primary-wight-color);
}
/* Main */
.title {
  color: var(--title-text-color);
}
.section {
  background-color: var(--third-bgc-color);
}
footer {
  background-color: var(--second-bgc-color);
  color: var(--primary-wight-color);
}
footer .link-logo {
  color: var(--primary-wight-color);
}
.address {
  color: var(--primary-wight-color);
}
/* Portfolio */
.title-main {
  display: none;
}
.filter {
  background-color: var(--third-bgc-color);
  color: var(--title-text-color);
}
.filter:hover {
  background-color: var(--accent-text-color);
  color: var(--primary-wight-color);
  cursor: pointer;
}
a {
  text-decoration: none;
}
a p {
  color: var(--primary-text-color);
}
